<section id="about" class="about">

    <div class="section-header">
        <h2>About Me</h2>

        <a href="mailto:{{ site.data.about.email }}" class="resume-download hidden-print">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Write me an email
        </a>
    </div>

    <!-- Intro -->
    <div class="intro">

        {{ site.data.about.description }}

        <ul class="info">
            <li><strong>Birthday:</strong>&nbsp;<time datetime="{{ site.data.about.birthday }}">{{
                    site.data.about.birthday | date: "%B %d, %Y"
                    }}</time></li>
            <li><strong>Location:</strong>&nbsp;{{ site.data.about.location }}</li>
            <li><strong>Email:</strong>&nbsp;<a href="mailto:{{ site.data.about.email }}">{{ site.data.about.email
                    }}</a></li>
            <li><strong>Phone:</strong>&nbsp;<a href='tel:{{ site.data.about.phone | remove: " " }}'>{{
                    site.data.about.phone }}</a>
            </li>
        </ul>



    </div>
    <!-- Intro end -->

    <!-- Skills -->
    <div class="skills hidden-print">

        <div class="row">

            {% for skill in site.data.skills limit:6 %}
            <div class="col-md-6 col-sm-6 col-xs-12 item">
                <div class="skill-info clearfix m-0">
                    <div class="pull-left">
                        <h3>{{ skill.name }}</h3>
                        <p>{{ skill.description }}</p>
                    </div>
                    <span class="pull-right">{{ skill.percentage }}%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="{{ skill.name }}"
                        aria-valuenow="{{ skill.percentage }}" aria-valuemin="0" aria-valuemax="100"
                        style="width:{{ skill.percentage }}%">
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
    <!-- Skills end -->
</section>
