<article class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <a href="{{ site.url }}/{{ post.url }}">
                {% if site.cloudinary and post.cloudinary %}
                <img class="lazy" src="{{ site.url }}/assets/svg/loading.svg" data-src="{{ site.cloudinary.base }}/f_auto,q_auto:best,w_432,h_324,c_fill,g_auto:subject,dpr_auto/{{ post.cloudinary }}" alt="{{ post.title }}">
                {% else %}
                <img class="lazy" src="{{ site.url }}/assets/svg/loading.svg" data-src="{{ post.image }}" alt="{{ post.title }}">
                {% endif %}
            </a>
        </figure>
    </div>
    <div class="card-content">
        <header>
            <h2 class="title is-4">
                <a href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a>
            </h2>
        </header>
        <main class="content">
            <!-- <p>{{ post.excerpt }}</p> -->
            <p><small><time datetime="{{ post.date | date_to_rfc822 }}"><br>{{ post.date | date_to_string }}</time></small></p>
        </main>
    </div>
</article>
