<section id="contact" class="contact">

    <div class="section-header">
        <h2>Get In Touch</h2>
    </div>


    <!-- Contact Form -->
    <form method="post" action="#">

        <div class="row"><!-- Row -->

            <div class="col-md-6 col-sm-6 col-xs-12"><!-- Name input -->
                <div class="form-group">
                    <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Your Name"
                        required>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12"><!-- Email input -->
                <div class="form-group">
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Your Email"
                        required>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12"><!-- Phone input -->
                <div class="form-group">
                    <input type="text" class="form-control" name="InputPhone" id="InputPhone"
                        placeholder="Phone (optional)">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12"><!-- Subject input -->
                <div class="form-group">
                    <input type="text" class="form-control" id="InputSubject" name="InputSubject" placeholder="Subject">
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12"><!-- Message textarea -->
                <div class="form-group">
                    <textarea name="InputMessage" id="InputMessage" class="form-control" rows="6" placeholder="Message"
                        required></textarea>
                </div>
            </div>

        </div><!-- Row end -->

        <input type="submit" name="submit" id="submit" value="Send Message"
            class="btn btn-default pull-left"><!-- Send Button -->

    </form>
    <!-- Contact Form end -->

</section>
