<footer class="footer">
    <div class="content has-text-centered">
        <p>&copy; <time>{{ 'now' | date: "%Y" }}</time> Roger Vilà</p>
        <p>
            <a class="button is-rounded is-danger" href="https://ko-fi.com/rogervila">
                <span class="icon mr-1">
                    <img loading="lazy" width="20" height="12" src="https://storage.ko-fi.com/cdn/cup-border.png" alt="Coffee cup">
                </span>
                Buy me a coffee!
            </a>
        </p>
    </div>
</footer>
