<header class="header pull-left">

    <!-- Mobile menu -->
    <div class="mobile-bar visible-sm visible-xs">
        <div class="hamburger-menu">
            <div class="bar"></div>
        </div>
    </div>
    <!-- Mobile menu end -->

    <div class="avatar">
        <img loading="lazy"
            src="https://res.cloudinary.com/rogervila/image/upload/f_auto,q_auto:best,w_1102,h_1102,c_fill,g_face,dpr_auto,r_max/roger-vila-camon"
            alt="Roger Vilà">
    </div>

    <div class="name">
        <h1>John Doe</h1>
        <span>UX/UI Designer</span>
    </div>

    <!-- Social Icons -->
    <div class="social-icons">
        <ul>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <!-- Social Icons end -->

    <!-- Navigation bar -->
    <nav class="main-nav">
        <ul class="navigation">

            <li><a href="#about">About Me</a></li>
            <li><a href="#experience">Expereince</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#works">Works</a></li>

            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <!-- Navigation bar end -->

    <!-- Footer Copyright -->
    <div class="copyright">
        <span>&copy; <time>{{ 'now' | date: "%Y" }}</time> Roger Vilà</span>
    </div>
    <!-- Footer Copyright end -->

</header>
