<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths is-offset-one-quarter">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img width="128" height="128" class="is-rounded lazy" src="{{ site.url }}/assets/svg/loading.svg" data-src="{{ image }}" alt="{{ site.title }}">
                        </figure>
                    </div>
                    <div class="media-content has-text-centered-mobile">
                        <h1 class="title">{{ site.data.content.home.header.hello }}</h1>
                        <div class="content">
                            <p>
                                {{ site.data.content.home.header.whoami }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
