<div class="column is-4 is-flex">
    <div class="card" style="width:100%">
        <header class="card-header">
            <p class="card-header-title">
                <a href="{{ project.url }}">{{ project.name }}</a>
            </p>
        </header>
        <div class="card-content">
            <div class="content">{{ project.description }}</div>
        </div>
        <footer class="card-footer">
            {% for image in project.images %}
            <a href="{{ project.url }}" class="card-footer-item">
                <img height="20" class="lazy" data-src="{{ image }}" src="{{ "/assets/svg/loading.svg" | relative_url }}" alt="{{ project.name }}">
            </a>
            {% endfor %}
        </footer>
    </div>
</div>
