<div class="column is-4 is-flex">
    <div class="card" style="width:100%">
        <header class="card-header">
            <p class="card-header-title">{{ project.name }}</p>
        </header>
        <div class="card-content">
            <div class="content">{{ project.description }}</div>
        </div>
        <footer class="card-footer">
            {% for image in project.images %}
            <a target="_blank" rel="noopener noreferrer" href="{{ project.url }}" class="card-footer-item">
                <img loading="lazy" src="{{ image }}" alt="{{ project.name }}">
            </a>
            {% endfor %}
        </footer>
    </div>
</div>
