{% assign cached_version = site.time | date: '%s%U' %}
<script defer src="{{ '/assets/js/app.js?v=' | append: cached_version | relative_url }}"></script>

{% if site.cookiebot.active %}
<script id="Cookiebot" src="//consent.cookiebot.com/uc.js" data-cbid="{{ site.cookiebot.id }}" async defer></script>
{% endif %}

{% if site.instant_page %}
<script src="https://instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
{% endif %}
